$mdi: 
    // ---------- a
    "account-group-outline",
    "account-multiple-check-outline",
    "account-plus-outline",
    "account-supervisor-circle-outline",
    "alpha-g-circle-outline",
    "alpha-g-box-outline",
    "alpha-z-box-outline",
    "alert-circle-outline",
    "alert-octagon-outline",
    "arrow-all",
    "arrow-up",
    "arrow-down",
    "arrow-left",
    "arrow-right",
    "arrow-top-right-thin-circle-outline",
    "account",
    "account-arrow-right-outline",
    "account-check-outline",
    "account-multiple-outline",
    "account-tie-outline",
    "account-search-outline",
    "account-group",
    "align-vertical-distribute",
    "arrow-up-bold-outline",
    // ---------- b
    "bed",
    "bell-outline",
    "bed-king-outline",
    // ---------- c
    "camera",
    "camera-outline",
    "camera-plus-outline",
    "calendar",
    "calendar-star",
    "calendar-check-outline",
    "calendar-clock-outline",
    "calendar-plus",
    "cash-check",
    "cash-usd-outline",
    "chevron-up",
    "chevron-down",
    "chevron-left",
    "chevron-right",
    "check",
    "checkbox-blank-outline",
    "card-account-details-outline",
    "checkbox-marked-outline",
    "checkbox-multiple-marked-circle-outline",
    "city",
    "city-variant-outline",
    "cursor-move",
    "close",
    "comment-outline",
    "comment-text-outline",
    "comment-processing-outline",
    "crosshairs-gps",
    "clipboard-plus-outline",
    // ---------- d
    "directions",
    "dots-grid",
    "dots-horizontal",
    "domain-plus",
    "door-open",
    // ---------- e
    "emoticon-outline",
    // ---------- f   
    "fire",
    "fullscreen",
    "fullscreen-exit",
    "folder-home-outline",
    "folder-plus-outline",
    "folder-check-outline",
    "file-plus-outline",
    "file-document-outline",
    "file-document-edit-outline",
    "format-list-bulleted-square",
    "format-paragraph-spacing",
    // ---------- g
    "greenhouse",
    // ---------- h
    "heart",
    "heart-outline",
    "heart-multiple-outline",
    "home-outline",
    "home-city-outline",
    "home-currency-usd",
    "home-minus-outline",
    "home-modern",
    "home-import-outline",
    "home-remove-outline",
    // ---------- i
    "invert-colors",
    // ---------- j
    // ---------- k
    // ---------- l
    "layers",
    "land-plots-circle",
    "layers-triple-outline",
    // ---------- m
    "map",
    "map-check",
    "map-check-outline",
    "map-clock",
    "map-clock-outline",
    "map-legend",
    "map-marker",
    "map-marker-alert",
    "map-marker-alert-outline",
    "map-marker-check",
    "map-marker-check-outline",
    "map-marker-circle",
    "map-marker-distance",
    "map-marker-down",
    "map-marker-left",
    "map-marker-left-outline",
    "map-marker-minus",
    "map-marker-minus-outline",
    "map-marker-multiple",
    "map-marker-multiple-outline",
    "map-marker-off",
    "map-marker-off-outline",
    "map-marker-outline",
    "map-marker-path",
    "map-marker-plus",
    "map-marker-plus-outline",
    "map-marker-question",
    "map-marker-question-outline",
    "map-marker-radius",
    "map-marker-radius-outline",
    "map-marker-remove",
    "map-marker-remove-outline",
    "map-marker-remove-variant",
    "map-marker-right",
    "map-marker-right-outline",
    "map-marker-star",
    "map-marker-star-outline",
    "map-marker-up",
    "map-minus",
    "map-outline",
    "map-plus",
    "map-search",
    "map-search-outline",
    "magnify",
    "magnify-close",
    "magnify-minus",
    "magnify-minus-cursor",
    "magnify-minus-outline",
    "magnify-plus",
    "magnify-plus-cursor",
    "magnify-plus-outline",
    "magnify-remove-cursor",
    "magnify-remove-outline",
    "magnify-scan",
    "message-outline",
    "message-processing-outline",
    "message-text-outline",
    "monitor-cellphone-star",
    "minus",
    "menu",
    "message-reply-text-outline",
    // ---------- n
    "note-text-outline",
    "note-plus-outline",
    "navigation-variant-outline",
    // ---------- o
    "office-building-outline",
    "office-building-marker-outline",
    "open-in-new",
    // ---------- p
    "palette",
    "pen",
    "pin-outline",
    "pin-off-outline",
    "phone",
    "phone-outgoing",
    "phone-in-talk",
    "phone-in-talk-outline",
    "post-outline",
    "plus",
    "playlist-edit",
    "play-circle-outline",
    // ---------- q
    // ---------- r
    "responsive",
    "refresh",
    "ruler-square-compass",
    "radiobox-blank",
    "radiobox-marked",
    // ---------- s
    "share",
    "share-circle",
    "share-outline",
    "share-variant",
    "share-variant-outline",
    "shower-head",
    "satellite-variant",
    "star",
    "star-outline",
    "store-marker-outline",
    // ---------- t
    "table",
    "tag-multiple",
    "tag-plus-outline",
    "tray-plus",
    "trash-can-outline",
    "tune",
    "text-box-multiple-outline",
    // ---------- u
    "currency-usd",
    "upload",
    // ---------- v
    "vector-square",
    // ---------- w
    // ---------- x
    // ---------- y
    // ---------- z
;

$mdi-colors: "guland", "blue", "red", "white";

$mdi-sizes: 12, 14, 16, 18, 20, 22, 24;

.mdi{
    display: inline-block;
    vertical-align: text-bottom;
    width: 18px;
    height: 18px;
    font-size: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/mdi/dots-grid.svg');
    &:after, &:before{
        display: none;
    }
    &.mdi-guland{
        background-image: url('../img/logo-guland-g.png');
        background-size: contain;
    }
    &.mdi-zalo{
        background-image: url('../img/zalo.png');
        background-size: contain;
    }
}
.hti{
    display: inline-block;
    vertical-align: text-bottom;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 600;
    font-family: $lexend;
    text-align: center;
    color: $gray-900;
    &.hti-dollar-sign{
        &::before{
            content: "\0024";
        }
    }
    &.hti-dollar-sign-circle{
        line-height: 16px;
        border: 1px solid $gray-900;
        border-radius: 50%;
        font-size: 14px;
        &::before{
            content: "\0024";
        }
    }
}

@each $icon in $mdi{
    .mdi-#{$icon}{
        background-image: url('../img/mdi/#{$icon}.svg')
    }
}

@each $color in $mdi-colors{
    .mdi-f-#{$color}{
        @include filter-color(#{$color});
    }  
}

@each $size in $mdi-sizes{
    .mdi-s-#{$size}{
        width: $size + px;
        height: $size + px;
    }  
}

